<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body onload="bootstrap()"> 
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <div>
        Input<br>
        <canvas id="myCanvas" width="200" height="200"></canvas>
    </div>
    <div>
        <button onclick="saveCanvas('png');">pngで保存</button>
        <button onclick="saveCanvas('jpeg');">jpegで保存</button>
        <button onclick="soushinCanvas('png');">pngで送信</button>
        <button onclick="soushinCanvas('jpeg');">jpegで送信</button>
    </div>
    <div>
        Result<br>
        <canvas id="result" width="200" height="200"></canvas>
    </div>
</body>
<script>
    var roomName = {{ room_name_json }};
    var socket = null;

    


    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

function bootstrap() {

    // 適当な図形を描画
    var c = document.getElementById('myCanvas');
    var ctx = c.getContext('2d');
    ctx.globalalpha = 0.3;
    for(var i=0; i<1000; i++) {
    ctx.beginPath();
    var r = Math.floor(Math.random() * 256);
    var g = Math.floor(Math.random() * 256);
    var b = Math.floor(Math.random() * 256);
    ctx.strokeStyle = 'rgb(' + r + ',' + g + ',' + b + ')';
    ctx.moveTo(Math.random()*200, Math.random()*200);
    ctx.lineTo(Math.random()*200, Math.random()*200);
    ctx.stroke();
    }

    // Socketの初期化
    socket = new WebSocket(
    'ws://' + window.location.host +
    '/ws/chat/' + roomName + '/');

    socket.binaryType = 'arraybuffer';
    socket.onopen = function() {
    test(ctx);
    }
    socket.onmessage = handleReceive;
};


function test(ctx, saveType) {
// RAWデータをそのまま送信
    var imageType = "image/png";
    var filename = "sample.png";
    if(saveType === "jpeg"){
        imageType = "image/jpeg";
        filename = "sample.jpg";
    }
    var canvas = document.getElementById("myCanvas");
    // base64エンコードされたデータを取得。例「data:image/png;base64,iVBORW0k～」
    var base64 = canvas.toDataURL(imageType);
    console.log(base64);
    // base64データをblobに変換
    var blob = Base64toBlob(base64);
    // blobデータを送信する。
    console.log('確認');
    console.log(blob);
    socket.send(blob);
} 

function handleReceive(message) {
    // 受信したRAWデータをcanvasに
    var c = resultCanvas = document.getElementById('result');
    var ctx = c.getContext('2d');
    var imageData = ctx.createImageData(200, 200);
    var pixels = imageData.data;

    var buffer = new Uint8Array(message.data);
    for (var i=0; i < pixels.length; i++) {
    pixels[i] = buffer[i];
    }
    ctx.putImageData(imageData, 0, 0);
}

// Base64データをBlobデータに変換
function Base64toBlob(base64)
{
    // カンマで分割して以下のようにデータを分ける
    // tmp[0] : データ形式（data:image/png;base64）
    // tmp[1] : base64データ（iVBORw0k～）
    var tmp = base64.split(',');
    // base64データの文字列をデコード
    var data = atob(tmp[1]);
    // tmp[0]の文字列（data:image/png;base64）からコンテンツタイプ（image/png）部分を取得
	var mime = tmp[0].split(':')[1].split(';')[0];
    //  1文字ごとにUTF-16コードを表す 0から65535 の整数を取得
	var buf = new Uint8Array(data.length);
	for (var i = 0; i < data.length; i++) {
        buf[i] = data.charCodeAt(i);
    }
    // blobデータを作成
	var blob = new Blob([buf], { type: mime });
    return blob;
}


function handleReceive(message) {
    // 受信したRAWデータをcanvasに
    console.log(message)
    console.log(message.data)
    var c = resultCanvas = document.getElementById('result');
    var ctx = c.getContext('2d');
    var imageData = ctx.createImageData(200, 200);
    var pixels = imageData.data;

    var buffer = new Uint8Array(message.data);
    console.log(buffer)
    for (var i=0; i < pixels.length; i++) {
        pixels[i] = buffer[i];
    }
    ctx.putImageData(imageData, 0, 0);
}


</script>
</html>